* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 250px;
    width: 500px;
    margin: 250px auto;
    background: #d3d3d3;
    border: 2px solid;
}

.term {
    font-size: 1.5rem;
}