* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Tahoma, 'Segoe UI', Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(220, 214, 247);
    height: 100vh;
}

.container {
    height: 300px;
    width: 500px;
    background: rgb(127, 0, 255);
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    box-shadow: 0 0 15px 5px;
}

.term {
    font-size: 2.5rem;
    padding: 10px;
}

.alternative {
    font-weight: bold;
    margin-top: 10px;
}

.desc {
    font-size: 1.5rem;
    padding: 5px;
}

#new-term {
    /* width: 35%; */
    background-color: rgb(255, 212, 73);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.25rem;
    color: rgb(50, 48, 49);
    border: none;
    font-weight: bold;
}

@media screen(max-width: 500px) {
    .container {
        min-height: 250px;
        margin: 10px 10px;
    }
}